@font-face {
    font-family: "VerdanaProLight";
    font-weight: 600;
    font-style: italic;
    src: local("Verdana Bold Italic"), url("../fonts/VerdanaPro-Light.woff2") format("woff2");
  }
  @font-face {
    font-family: "VerdanaBoldItalic";
    font-weight: 600;
    font-style: italic;
    src: local("Verdana Bold Italic"), url("../fonts/Verdana/Verdana-BoldItalic.eot") format("eot"), url("../fonts/Verdana/Verdana-BoldItalic.ttf") format("ttf"), url("../fonts/Verdana/Verdana-BoldItalic.woff") format("woff");
  }
  @font-face {
    font-family: "VerdanaItalic";
    font-weight: 400;
    font-style: italic;
    src: local("Verdana Italic"), url("../fonts/Verdana/Verdana-Italic.eot") format("eot"), url("../fonts/Verdana/Verdana-Italic.ttf") format("ttf"), url("../fonts/Verdana/Verdana-Italic.woff") format("woff");
  }
  @font-face {
    font-family: "ComonsPro";
    font-weight: 400;
    font-style: normal;
    src: local("ComonsPro"), url("../fonts/CommonsPro/WOFF2/TT_Commons_Pro_Regular.woff2") format("woff2"), url("../fonts/CommonsPro/WOFF/TT_Commons_Pro_Regular.woff") format("woff"), url("../fonts/CommonsPro/TrueType/TT Commons Pro Regular.ttf") format("ttf"), url("../fonts/CommonsPro/EOT/TT_Commons_Pro_Regular.eot") format("eot");
  }
  @font-face {
    font-family: "ComonsPro";
    font-weight: 600;
    font-style: normal;
    src: local("ComonsPro"), url("../fonts/CommonsPro/WOFF2/TT_Commons_Pro_DemiBold.woff2") format("woff2"), url("../fonts/CommonsPro/WOFF/TT_Commons_Pro_DemiBold.woff") format("woff"), url("../fonts/CommonsPro/TrueType/TT_Commons_Pro_DemiBold.ttf") format("ttf"), url("../fonts/CommonsPro/EOT/TT_Commons_Pro_DemiBold.eot") format("eot");
  }
  @font-face {
    font-family: "ComonsPro";
    font-weight: 700;
    font-style: normal;
    src: local("ComonsPro"), url("../fonts/CommonsPro/WOFF2/TT_Commons_Pro_Bold.woff2") format("woff2"), url("../fonts/CommonsPro/WOFF/TT_Commons_Pro_Bold.woff") format("woff"), url("../fonts/CommonsPro/TrueType/TT_Commons_Pro_Bold.ttf") format("ttf"), url("../fonts/CommonsPro/EOT/TT_Commons_Pro_Bold.eot") format("eot");
  }