@import url(fonts.css);
body,
html {
  padding: 0px;
  margin: 0px;
  font-family: "Verdana", Arial, sans-serif;
  font-size: 10px;
}

.pdf .wrapper {
  margin: 0px auto;
  box-sizing: border-box;
  padding: 71px 116px 71px 176px;
  max-width: 1240px;
}
.pdf .wrapper header .top_coloticul {
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
  font-size: 150%;
  line-height: 160%;
  color: #747A95;
  justify-content: space-between;
  letter-spacing: 0.21px;
}
.pdf .wrapper header .top_coloticul .top_coloticul1 {
  display: flex;
  justify-content: space-between;
}
.pdf .wrapper header .top_coloticul .col2x {
  display: flex;
}
.pdf .wrapper header .top_coloticul .top_colonticul__phone {
  margin-left: 50px;
  letter-spacing: -0.23px;
  font-size: 15px;
}
.pdf .wrapper header .top_coloticul .top_colonticul__page_number {
  border: 1px solid #747A95;
  border-radius: 10px;
  width: 58px;
  height: 20px;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
}
.pdf .wrapper header .top {
  margin-top: 34px;
  display: flex;
  justify-content: space-between;
  line-height: 160%;
  font-style: normal;
  font-weight: 400;
  font-size: 160%;
}
.pdf .wrapper header .top__logo img {
  margin-left: 42px;
  width: 183px;
}
.pdf .wrapper header .top__adress {
  margin-left: -40px;
  margin-top: 15px;
  font-family: "ComonsPro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 230%;
  /* identical to box height, or 26px */
  color: #002B55;
}
.pdf .wrapper header .top__phone {
  font-family: "ComonsPro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin-top: 15px;
  line-height: 230%;
  margin-left: -30px;
  /* identical to box height, or 26px */
  color: #002B55;
}
.pdf .wrapper header .top__adress1 {
  font-family: "ComonsPro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin-top: 15px;
  line-height: 230%;
  /* identical to box height, or 26px */
  color: #002B55;
  margin-right: 30px;
  text-align: left;
}
.pdf .wrapper header .top__adress1 a {
  text-decoration: none;
  color: #002B55;
}
.pdf .wrapper main {
  padding-top: 50px;
  font-style: normal;
  font-weight: 400;
  font-size: 240%;
  color: #000;
}
.pdf .wrapper main .intro p {
  margin: 6px 0px;
  padding: 0px;
}
.pdf .wrapper main hr {
  border: 0.5px solid #002B55;
}
.pdf .wrapper main .pre_table {
  text-align: left;
  display: flex;
  font-size: 20px;
}
.pdf .wrapper main .pre_table span {
  color: #002B55;
  display: block;
  float: left;
  min-width: 125px;
  padding-top: 4px;
}
.pdf .wrapper main .pre_table p {
  display: block;
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 10px;
  padding-bottom: 0px;
  font-size: 20px;
}
.pdf .wrapper main table {
  width: 100%;
  border-collapse: collapse;
  font-size: 20px;
  margin: 0px 0px 30px;
}
.pdf .wrapper main table tr th {
  color: #fff;
  background: #002B55;
}
.pdf .wrapper main table td, .pdf .wrapper main table th {
  padding: 7px 21px 15px;
  text-align: left;
}
.pdf .wrapper main table tfoot td {
  font-weight: 700;
}
.pdf .wrapper main p {
  font-weight: 400;
  font-size: 21px;
  line-height: 145%;
  text-align: justify;
  color: #000000;
}
.pdf .wrapper main .blue {
  color: #002B55;
}
.pdf .wrapper main h1 {
  margin-top: 35px;
  text-align: center;
  font-weight: 600;
  font-size: 23px;
  line-height: 40px;
  /* identical to box height, or 37px */
  color: #002B55;
  margin-bottom: 30px;
}
.pdf .wrapper main h2 {
  margin-top: 45px;
  font-weight: 700;
  font-size: 22px;
  line-height: 155.5%;
  padding-top: 0px;
  /* or 34px */
  text-align: center;
  color: #000000;
}
.pdf .wrapper main ol li {
  padding-left: 35px;
  font-size: 21px;
  line-height: 33px;
  margin-bottom: 10px;
}
.pdf .wrapper main ul {
  padding-left: 107px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.pdf .wrapper main ul li {
  list-style-type: none;
  background: url("../images/bulit-blue.jpg") no-repeat left 10px;
  padding-left: 40px;
  padding-bottom: 9px;
  font-size: 21px;
  line-height: 33px;
}
.pdf .wrapper main ul li ul {
  padding-left: 2px;
  margin-top: 7px;
  margin-bottom: 0px;
}
.pdf .wrapper main h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 144%;
  margin-top: 45px;
}
.pdf .wrapper main .nobullit {
  padding-left: 20px;
  font-size: 13px;
}
.pdf .wrapper main .nobullit li {
  background: none;
  font-weight: 600;
  font-style: italic;
  font-size: 13px;
}
.pdf .wrapper .footer {
  text-align: left;
  font-family: "VerdanaProLight";
}
.pdf .wrapper .footer .line {
  border-top: 1px solid #747A95;
  width: 300px;
  margin-bottom: 10px;
  margin-top: 20px;
}
.pdf .wrapper .prilojenie p {
  text-indent: 50px;
  font-size: 12px;
}
.pdf .wrapper .footer p {
  font-size: 13px;
}/*# sourceMappingURL=main.css.map */