@import url(fonts.css);

body,
html {
    padding: 0px;
    margin: 0px;    
    font-family: 'Verdana', Arial, sans-serif;
    font-size: 10px;
}

.pdf {
    .wrapper {        
        margin: 0px auto;
        box-sizing: border-box;
        padding: 71px 116px 71px 176px;
        max-width: 1240px;

        header {
            // color-adjust: exact !important;

            .top_coloticul {                
                font-family: 'Verdana';
                font-style: normal;
                font-weight: 400;
                font-size: 150%;
                line-height: 160%;
                color: #747A95;
                justify-content: space-between;
                letter-spacing: 0.21px;

                .top_coloticul1{
                    display: flex;
                    justify-content: space-between;
                }

                .col2x {
                    display: flex;
                }

                .top_colonticul__phone {
                    margin-left: 50px;
                    letter-spacing: -0.23px;                    
                    font-size: 15px;
                }

                .top_colonticul__page_number {
                    border: 1px solid #747A95;
                    border-radius: 10px;
                    width: 58px;
                    height: 20px;                    
                    font-size: 15px;
                    line-height: 20px;
                    text-align: center;
                }

            }

            .top {
                margin-top: 34px;
                display: flex;
                justify-content: space-between;
                line-height: 160%;
                font-style: normal;
                font-weight: 400;
                font-size: 160%;

                &__logo img {
                    margin-left: 42px;
                    width: 183px;
                }

                &__adress {

                    margin-left: -40px;
                    margin-top: 15px;
                    font-family: 'ComonsPro';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 230%;
                    /* identical to box height, or 26px */
                    color: #002B55;
                }

                &__phone {
                    font-family: 'ComonsPro';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    margin-top: 15px;
                    line-height: 230%;
                    margin-left: -30px;
                    /* identical to box height, or 26px */
                    color: #002B55;
                }

                &__adress1 {
                    font-family: 'ComonsPro';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    margin-top: 15px;
                    line-height: 230%;
                    /* identical to box height, or 26px */
                    color: #002B55;
                    margin-right: 30px;
                    text-align: left;
                    // border: 1px solid red;

                    a {
                        text-decoration: none;
                        color: #002B55;
                    }
                }

            }
        }
        main {
            padding-top: 50px;
            font-style: normal;
            font-weight: 400;
            font-size: 240%;
            color: #000;

            .intro{
                p {
                    margin: 6px 0px;
                    padding: 0px;
                }
            }

            hr {
                border:0.5px solid #002B55;
            }

            .pre_table {                    
                text-align: left;                 
                display: flex;  
                font-size: 20px;                                                

                span {
                    color: #002B55;
                    display: block; 
                    float: left;
                    min-width: 125px;
                    padding-top: 4px;                    
                }

                p {
                    display: block;  
                    margin-top: 0px;
                    padding-top: 0px;
                    margin-bottom: 10px;
                    padding-bottom: 0px;
                    font-size: 20px; 
                }
            }

            table {
                width: 100%;
                border-collapse: collapse;
                font-size: 20px;
                margin: 0px 0px 30px;
                // color-adjust: exact !important;

                tr th {
                    color: #fff;
                    background: #002B55;
                    // color-adjust: exact !important;
                }
               
                td, th {
                    // border: 1px solid #BFBFBF !important;
                    padding: 7px 21px 15px;
                    text-align: left;
                    // color-adjust: exact !important;
                }

                tfoot td {
                    font-weight: 700;
                }

            }

            p {
                font-weight: 400;
                font-size: 21px;
                line-height: 145%;                
                text-align: justify;
                color: #000000;

               
            }

            .blue {
                color: #002B55;
                // color-adjust: exact !important;
            }

            h1 {
                margin-top: 35px;                
                text-align: center;
                font-weight: 600;
                font-size: 23px;
                line-height: 40px;
                /* identical to box height, or 37px */
                // text-transform: uppercase;
                color: #002B55;
                margin-bottom: 30px;
                // color-adjust: exact !important;
            }

            h2 {
                
                margin-top: 45px;
                font-weight: 700;
                font-size: 22px;
                line-height: 155.5%;
                padding-top: 0px;
                /* or 34px */

                text-align: center;

                color: #000000;
            }

            ol li {
                padding-left: 35px;
                font-size: 21px;
                line-height: 33px;
                margin-bottom: 10px;
            }

            ul {
                padding-left: 107px;
                margin-top: 0px;
                margin-bottom: 0px;

                li {
                    list-style-type: none;
                    background: url("../images/bulit-blue.jpg") no-repeat left 10px;
                    padding-left: 40px;
                    padding-bottom: 9px;
                    font-size: 21px;
                    line-height: 33px;
                }
            }

            ul li ul {
                padding-left: 2px;
                margin-top: 7px;
                margin-bottom: 0px;

            }

            

            h3 {
                font-style: normal;
                font-weight: 700;
                font-size: 22px;
                line-height: 144%;
                margin-top: 45px;                
            }



            .nobullit {
                padding-left: 20px;
                font-size: 13px;
            }

            .nobullit li {
                background: none;
                font-weight: 600;
                font-style: italic;
                font-size: 13px;
            }

            
        }

        .footer {
            text-align: left;
            font-family: 'VerdanaProLight';
        }

        .footer .line {
            border-top: 1px solid #747A95;
            width: 300px;
            margin-bottom: 10px;
            margin-top: 20px;
        }

        .prilojenie p {
            text-indent: 50px;
            font-size: 12px;
        }
        
        .footer p {
            font-size: 13px;
        }
    }


}