@font-face {
    font-family: 'Verdana Pro Semibold';
    src: url('VerdanaPro-SemiBold.eot');
    src: url('VerdanaPro-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/VerdanaPro-SemiBold.woff') format('woff'),
    url('../fonts/VerdanaPro-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
    
@font-face {
    font-family: 'VerdanaProLight';
    font-weight: 600;
    font-style: italic;
    src: local('Verdana Bold Italic'),
        url('../fonts/VerdanaPro-Light.woff2') format('woff2');        
}

@font-face {
    font-family: 'VerdanaBoldItalic';
    font-weight: 600;
    font-style: italic;
    src: local('Verdana Bold Italic'),
        url('../fonts/Verdana/Verdana-BoldItalic.eot') format('eot'),  
        url('../fonts/Verdana/Verdana-BoldItalic.ttf') format('ttf'), 
        url('../fonts/Verdana/Verdana-BoldItalic.woff') format('woff');        
}

@font-face {
    font-family: 'VerdanaItalic';
    font-weight: 400;
    font-style: italic;
    src: local('Verdana Italic'),
        url('../fonts/Verdana/Verdana-Italic.eot') format('eot'),  
        url('../fonts/Verdana/Verdana-Italic.ttf') format('ttf'), 
        url('../fonts/Verdana/Verdana-Italic.woff') format('woff');        
}

@font-face {
    font-family: 'ComonsPro';
    font-weight: 400;
    font-style: normal;
    src: local('ComonsPro'),
        url('../fonts/CommonsPro/WOFF2/TT_Commons_Pro_Regular.woff2') format('woff2'),
        url('../fonts/CommonsPro/WOFF/TT_Commons_Pro_Regular.woff') format('woff'),
        url('../fonts/CommonsPro/TrueType/TT Commons Pro Regular.ttf') format('ttf'),
        url('../fonts/CommonsPro/EOT/TT_Commons_Pro_Regular.eot') format('eot');
}


@font-face {
    font-family: 'ComonsPro';
    font-weight: 600;
    font-style: normal;
    src: local('ComonsPro'),
        url('../fonts/CommonsPro/WOFF2/TT_Commons_Pro_DemiBold.woff2') format('woff2'),
        url('../fonts/CommonsPro/WOFF/TT_Commons_Pro_DemiBold.woff') format('woff'),
        url('../fonts/CommonsPro/TrueType/TT_Commons_Pro_DemiBold.ttf') format('ttf'),
        url('../fonts/CommonsPro/EOT/TT_Commons_Pro_DemiBold.eot') format('eot');
}


@font-face {
    font-family: 'ComonsPro';
    font-weight: 700;
    font-style: normal;
    src: local('ComonsPro'),
        url('../fonts/CommonsPro/WOFF2/TT_Commons_Pro_Bold.woff2') format('woff2'),
        url('../fonts/CommonsPro/WOFF/TT_Commons_Pro_Bold.woff') format('woff'),
        url('../fonts/CommonsPro/TrueType/TT_Commons_Pro_Bold.ttf') format('ttf'),
        url('../fonts/CommonsPro/EOT/TT_Commons_Pro_Bold.eot') format('eot');
}

body,
html {
    padding: 0px;
    margin: 0px;
    font-family: 'Verdana', Arial, sans-serif;
    font-size: 10px;
    
}

.pdf {
    .wrapper {        
        margin: 0px auto;
        box-sizing: border-box;
        padding: 10mm 25mm 10mm 25mm;

        header {
            // color-adjust: exact !important;

            .top_coloticul {
                display: block;                
                font-style: normal;
                font-weight: 400;                
                line-height: 160%;
                color: #747A95;
                margin-left: 25mm;
                margin-right: 25mm;
                width: 610px;
                letter-spacing: 0.21px;
                font-size: 11px;
                font-family: 'ComonsPro', sans-serif;
 
                .top_coloticul1{
                    display: flex;
                    justify-content: space-between;
                }

                .col2x {
                    display: flex;
                    width: 50%;   
                    font-size: 11px;                 
                }

                .top_colonticul__phone {
                    margin-left: 27px;
                    font-size: 11px;
                }

                .top_colonticul__page_number {
                    //border: 0.5px solid #747A95;
                    border: none;
                    //border-radius: 10px;
                    width: 35px;
                    height: 12px;                    
                    // text-align: center;
                    text-align: right;
                    font-size: 9px;
                    line-height: 12px;
                }

            }

            .top {
                margin-top: -50px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-style: normal;
                font-weight: 400;
                font-size: 11px;
                font-style: normal;
                color: #002B55;
                font-family: 'ComonsPro';
                // border: 1px solid red;
                line-height: 100%;

                &__logo img {
                    // margin-left: 30px;
                    margin-left: 0;                      
                    width: 110px; 
                    color: #002B55;    
                    // border: 1px solid green;   
                         
                }

                &__adress {
                    font-size: 11px;
                    // margin-left: 20px;     
                    margin-left: 0; 
                    color: #002B55;        
                    // margin-top: 10px; 
                    margin-top: 0;
                    padding-bottom: 0px;      
                    // border: 1px solid blue;  
                    line-height: 150%; 
                }

                &__phone {
                    font-size: 11px;
                    // margin-left: 22px; 
                    margin-left: 0;   
                    color: #002B55;       
                    // margin-top: 10px;    
                    margin-top: 0;
                    padding-bottom: 0px; 
                    // border: 1px solid plum; 
                    line-height: 150%;           
                }

                &__adress1 {
                    font-size: 11px;
                    // margin-left: 25px;
                    // margin-right: 20px;
                    margin-left: 0;
                    // margin-right: 20px;
                    margin-right: 0;
                    text-align: left;    
                    color: #002B55;        
                    // margin-top: 10px;   
                    margin-top: 0; 
                    padding-bottom: 0px; 
                    line-height: 150%;    
                    // border: 1px solid rosybrown;      

                    a {
                        text-decoration: none;
                        color: #002B55;
                    }
                }

            }
        }

        .conclusion {
            // padding: 50px 60px 50px 70px;
            padding: 30px 35px 30px 40px;
            background: #F4F5F9;
            font-size: 12px;
        }

        .tbl_capitalization th:first-child {
            width: 230px;
        }
        .tbl_capitalization th:last-child {
            width: 230px;
        }


        main {
            font-style: normal;
            font-weight: 400;
            // color: #000;
            color: #3C456B;
            // padding-top: 20px;
            padding-top: 60px;

            .intro p {
                text-align: left;
                font-size: 9pt;
                color: #3C456B;
            }

            .pre_table {                    
                text-align: left;                 
                display: flex;
                flex-direction: column;  
                font-size: 13px;   
                margin-top: 30px;
                margin-bottom: 10px;
                color: #002B55;
                page-break-after: avoid;
                

                span {
                    
                    color: #74899C;
                    display: block; 
                    float: left;
                    min-width: 90px;
                    padding-top: 2px; 
                    font-size: 11px;  
                    padding-bottom: 5px;                  
                }

                p {
                    display: block;  
                    margin-top: 0px;
                    padding-top: 0px;
                    margin-bottom: 0px;
                    padding-bottom: 0px;
                    font-size: 13px; 
                    max-width: 540px;
                    text-align: left;                    
                }
            }

            table {
                width: 100%;
                border-collapse: collapse;
                font-size: 12px;
                margin: 0px 0px 30px;
                margin-bottom: 30px;
                border: none;
                // color-adjust: exact !important;

                tr th {
                    color: #fff;
                    background: #002B55;
                    font-size: 12px;
                    vertical-align: top;
                    font-weight: 400;
                    // color-adjust: exact !important;
                }

                th {
                    border: none;
                    padding: 7px 14px 7px;
                    text-align: left;
                    // color-adjust: exact !important;
                }
               
                td {
                    border: none;
                    border-bottom: 1px solid #ABB1CE !important;
                    padding: 7px 14px 7px;
                    text-align: left;
                    // color-adjust: exact !important;
                }

                tfoot td {
                    border: none;
                    font-weight: 700;
                    border-bottom: 1px solid #ABB1CE !important;
                }

            }


            h1 {
                //font-family: 'Verdana Pro';
                font-family: 'Verdana Pro Semibold';
                // margin-top: 22px;
                margin-top: 65px;
                font-style: normal;
                // text-align: center;
                text-align: left;
                font-weight: 600;
                line-height: 140%;
                // text-transform: uppercase;
                // color: #002B55;
                color: #3C456B;
                margin-bottom: 24px;
                font-size: 24px; 
                // letter-spacing: 0.5px;
            }

            h2 {
                margin-top: 40px;
                margin-bottom: 30px;
                font-family: 'Verdana';
                font-style: normal;
                font-weight: 700;
                line-height: 150%;
                padding-top: 0px;
                // text-align: center;
                text-align: left;
                // color: #002B55;
                color: #3C456B;
                font-size: 18px;
            }

            h3 {
                font-style: normal;
                font-weight: 700;
                line-height: 144%;
                margin-top: 30px;
                margin-bottom: 14px;
                font-size: 14px;
                // color: #002B55;
                color: #3C456B;
            }

            ul {
                // padding-left: 70px;
                padding-left: 0;
                padding-top: 0;
                margin-top: 10px;
                margin-bottom: 10px;
                padding-bottom: 0;
                
                li {
                    list-style-type: none;
                    // background: url("../images/bulit-blue.jpg") no-repeat left 8px;
                    background: url("../images/bulit-blue-circle.svg") no-repeat left 8px;
                    padding-left: 17px;
                    padding-bottom: 10px;
                    font-size: 14px;
                    line-height: 144%;

                    p{
                        text-align: left;
                    }
                }
            }

            ol {
                padding-left: 5mm;                
                padding-top: 0mm;
                margin-top: 10px;
                margin-bottom: 0;
                padding-bottom: 0;
            }

            ol li {
                padding-left: 0mm;
                font-size: 14px;
                line-height: 144%;
                margin-bottom: 0px;                
                padding-bottom: 10px;
                color: #3C456B;
                text-align: left;
            }
            ol li p{
                // padding: 0 0 0 5mm;
                padding: 0;
                margin: 0mm;
                color: #3C456B;
                text-align: left;
            }

            p {
                font-family: 'Verdana';                
                font-weight: 400;
                line-height: 144%;                
                text-align: justify;
                color: #3C456B;
                margin-top: 0px;
                margin-bottom: 10px;
                font-size: 14px; 
                text-align: left;  
            }         
        }

    }

    .top_coloticul {
        display: block;
        text-align: left;
        height: 30px;
        position: running(top_coloticul);
        width: 210mm;
      }
    
}

#pageNumber:after {
    counter-increment: page;
    content: counter(page);
}

@page {
    margin: 0px;  
    margin-top: 30mm;
    margin-bottom: 25mm;
    width: 210mm;    
    @top-center {
        content: element(top_coloticul);
    }
}