<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>pdf</title>
    <link rel="stylesheet" href="{{ static_path }}/css/normalize.css" />
    <link rel="stylesheet" href="{{ static_path }}/css/main.css" />
    <link rel="stylesheet" href="{{ static_path }}/css/print.css" type="text/css" media="print" charset="utf-8" />
  </head>
  <body>
    <div class="container pdf">
      <div class="wrapper">
        <!-- колонтикул -->
        <div class="footer">
          <div class="line"></div>
            <p style="font-size: 12px;">
            <sup>1</sup> Ответ на запрос подготовлен на основании обобщенных
            результатов Исследования. Отчет о стоимости юридических услуг по
            конкретному делу с учетом всех фактических обстоятельств может быть
            подготовлен ООО ОК «ВЕТА» в рамках проведения оценки рыночной
            стоимости согласно законодательству об оценочной деятельности.
          </p>
          <p style="font-size: 12px;">
            <sup>2</sup> Сайт проекта URL:
            https://veta.expert/projects/research/, дата обращения {{
            current_date}}.
          </p>
        </div>
        <!-- /колонтикул -->

        <header>
          <!-- верхний колонтикул -->
          <div class="top_coloticul">
            <div class="top_coloticul1">
              <div class="col2x">
                <div class="top_colonticul__site">WWW.VETA.EXPERT</div>
                <div class="top_colonticul__phone">+7 800 775-04-99</div>
              </div>
              <div class="top_colonticul__page_number">
                <div class="top_colonticul__page-number-border" id="pageNumber"></div>
              </div>
            </div>

            <div class="pre-plaska">
              <div class="smark"></div>
              <div class="smark1"></div>
            </div>
            <div class="plaska"></div>
          </div>
          <!--/ верхний колонтикул -->

          <div class="top">
            <div class="top__logo">
              <img src="{{ static_path }}/images/logo.png" />
            </div>
            <div class="top__adress">
              115054, Россия, Москва,
              <br />
              Большой Строченовский, пер, д. 7,
            </div>
            <div class="top__phone">
              +7 495 255–14–99
              <br />
              +7 800 775–04–99
            </div>
            <div class="top__adress1">
              veta@veta.expert
              <br />
              <a href="http://www.veta.expert">www.veta.expert</a>
            </div>
          </div>

          <div class="row1">
            <div class="row1__delo">
              По делу №{{ result_number }}
            </div>
            <div class="row1__name">
              Для {{ result_name }}
            </div>
          </div>
        </header>

        <main>
          <h1>
            Справка о рыночной стоимости юридических услуг<sup><span>1</span></sup>
          </h1>

          <p>
            Экспертная группа Veta ежегодно проводит исследование рыночной
            стоимости услуг по представлению интересов в судах (далее -
            Исследование)<sup>2</sup>.
          </p>
          <p>
            Результаты исследования по представлению интересов в судах в {{
            request.year }} году опубликованы на сайте проекта, ссылка:
            <a href="https://veta.expert/projects/research/"
              >https://veta.expert/projects/research/</a
            >.
          </p>
          <p>
            В ответ на ваш запрос от {{ current_date}}            
            было проведено определение рыночной стоимости услуг по
            представительству интересов участника процесса по делу №{{
            result_number }}.
          </p>

          <p>
            Данные для расчета:
          </p>
          
          <ul>
            <li>Год исследования: {{ request.year }}</li>
            <li>Регион исследования: {{ request.city }}</li>
            <li>Формат оплаты: {{ calculation_type }}</li>

            {% if request.court_type %}
                <li>Суд: {{ request.court_type }} </li>
            {% endif %}

            {% if request.dispute %}
                <li>Категории спора: {{ request.dispute }}</li>
            {% endif %}



          {% if request.instances %}
              <li>Инстанции:
                  <ul>
                  {% for instance in request.instances %}
                      <li>{{ instance.instance }} - {{ instance.count}}</li>
                  {% endfor %}
                  </ul>
              </li>
          {% endif %}



          {% if request.difficulty_factors %}
            <li> Усложняющие факторы:
              <ul>
                    {% for factor in request.difficulty_factors %}
                        <li>{{ factor }}</li>
                    {% endfor %}
               </ul>
            </li>
          {% endif %}

          {% if request.documents %}
            <li>Документы
                  <ul>
                  {% for document in request.documents %}
                      <li>{{ document.name }} - {{ document.count}}</li>
                  {% endfor %}
                  </ul>
            </li>
          {% endif %}

          {% if request.claim_sum %}
              <li>Сумма иска:
                  {{ request.claim_sum }}
              </li>
          {% endif %}


          {% if request.court_count %}
              <li>
                  <b>Количество судебных заседаний:</b>
                  {{ request.court_count }}
              </li>
          {% endif %}


          {% if request.posts %}
            <li>Должности
                  <ul>
                  {% for post in request.posts %}

                      <li>{{ post.post }} - {{ post.count}}</li>

                  {% endfor %}
                  </ul>
            </li>
          {% endif %}
          </ul>

          <p>
            Рыночная стоимость услуг по представительству интересов в суде зависит от того, к какой 
            квалификационной группе относится Исполнитель.
            Далее представлены результаты расчета по каждой из групп.
          </p>
          
          {% for result in results %}
          {{ result.calc_info|safe }}
            <p>
              Рыночная стоимость услуг квалификационной группы "{{ result.qualification }}" по предоставлению интересов по делу №{{ result_number }} составит {{ result.result_cost }} рублей.
            </p>
          {% endfor %}

          <h2 class="pcalc-title" style="text-align: left; font-size: 16px;">Итог</h2>
          <p>В результате расчета получена следующая рыночная стоимость услуг по представительству интересов в суде:</p>
          <ul style="list-style: none; font-style:normal;font-weight: 400;padding-left: 20px;">
          {% for result in results %}          
            <li style="background: none;">&mdash; для квалификационной группы "{{ result.qualification }}" &mdash; {{ result.result_cost }} рублей.
            </li>
          {% endfor %}
          </ul>

          <!-- разрыв страницы  -->
          <div style="page-break-before: always"></div>
          <p class="prilojenie-start">Приложение</p>
          <div class="prilojenie">
            <h2 style="font-size: 14px; margin-bottom: 20px; margin-top: -5px;">Практика использования исследования</h2>
            <p>
              Исследование Veta о стоимости юридических услуг активно
              используется участниками судебного процесса при обосновании своих
              доводов или возражений относительно размера заявленных судебных
              расходов.
            </p>
            <p>
              Исследование регулярно принимается арбитражными судами в качестве
              доказательства при рассмотрении споров по взысканию судебных
              расходов с целью определения степени обоснованности заявленных
              расходов.
            </p>
            <p>
              Примером тому является
              <b
                >постановление Арбитражного суда Московского округа от
                10.02.2021г. №Ф05-15497/17 по делу №А40-168193/2016</b
              >. Рассматривая жалобу на определение суда первой инстанции и
              постановление апелляционной инстанции о взыскании судебных
              расходов, суд кассационной инстанции отмечает:
            </p>
            <p style="font-family: 'VerdanaItalic'; ">
                <i>
                  «…в подтверждение размера судебных расходов финансовым
                  управляющим в материалы дела было представлено исследование
                  стоимости услуг по представлению интересов в судах в Москве и
                  Московской области в 2018 году (далее - Исследование),
                  проведенное экспертной группой VЕТА (ООО «Оценочная компания
                  «ВЕТА»).
                </i>
            </p>

            <p style="font-family: 'VerdanaItalic'; ">
              <i
                >Принимая во внимание, что в соответствии с частью 2 статьи 64
                Арбитражного процессуального кодекса Российской Федерации в
                качестве доказательств допускаются письменные доказательства,
                под которыми понимаются «содержащие сведения об обстоятельствах,
                имеющих значение для дела, договоры, акты, справки, деловая
                корреспонденция, иные документы, выполненные в форме цифровой,
                графической записи или иным способом, позволяющим установить
                достоверность документа» (статья 75 Арбитражного процессуального
                кодекса Российской Федерации), суды пришли к выводу, что данное
                ежегодное Исследование может быть принято в качестве письменного
                доказательства по делу и использовано при определении степени
                обоснованности заявленных расходов». Кассационная инстанция
                признала выводы судов первой и апелляционной инстанций
                обоснованными.</i
              >
            </p>
            <p>
              <b
                >Опираясь на результаты исследования, суд признал стоимость
                представления интересов завышенной. Определение Арбитражного
                суда Тюменской области от 26.07.2022 по делу №
                А70-25694/2021.</b
              >
            </p>
            <p style="font-family: 'VerdanaItalic'; ">
              <i
                >«Средняя стоимость заявленных истцом расходов по оплате
                составления искового заявления в Тюменской области в 2020г.
                варьировалась в диапазоне 21 500 – 38 929 руб. (30 214,50 руб.),
                средняя стоимость подготовки иных документов, связанных с
                представлением интересов заказчика в суде, в диапазоне 11 650 –
                14 067 руб. (12 858,5 руб.) согласно ежегодному исследованию
                стоимости услуг по представлению интересов в судах, который был
                составлен Экспертной группой «Вета» (страницы 32-33).</i
              >
            </p>
            <p style="font-family: 'VerdanaItalic'; ">
              <i
                >… исходя из цены иска, характера спора и фактически оказанных
                представителем услуг, а также их средней стоимости в Тюменской
                области, Суд считает, что заявленные требования о возмещении
                судебных расходах подлежат удовлетворению частично, в размере 21
                991 руб.».</i
              >
            </p>
            <p>
              <b
                >Судебные расходы по делу не превышают среднюю стоимость за
                аналогичные услуги, следовательно, соответствуют критерию
                разумности и обоснованности.</b
              >
            </p>
            <p style="font-family: 'VerdanaItalic'; ">
              <i>
                В постановлении от 18 марта 2021 года по делу № А50П-528/2019
                Семнадцатый арбитражный апелляционный суд указывает, что
                ответчик не привел надлежащих доказательств, позволяющих сделать
                вывод о чрезмерности взыскиваемых расходов ни при рассмотрении
                заявления в суде первой инстанции, ни в апелляционной жалобе.
              </i>
            </p>
            <p style="font-family: 'VerdanaItalic'; ">
              <i
                >Вместе с тем, истцом суду первой инстанции было представлено
                исследование стоимости услуг по судебному представительству
                Федеральной палаты адвокатов РФ и экспертной группы Veta, в
                соответствии с которым средняя стоимость услуг по представлению
                интересов в Арбитражном суде первой инстанции составила 308 531
                рубль. Минимальная стоимость, согласно данным опроса, - 70 000,
                максимальная - 700 000 рублей.</i
              >
            </p>
            <p style="font-family: 'VerdanaItalic'; ">
              <i
                >Таким образом, взысканные по определению суда первой инстанции
                с ответчика судебные расходы по оплате услуг представителя за
                участие в суде первой инстанции в размере 175 000 рублей не
                превышают среднюю стоимость за аналогичные услуги,
                следовательно, являются соразмерными аналогичным услугам за
                представительство в арбитражном суде первой инстанции и
                соответствуют критерию разумности и обоснованности.</i
              >
            </p>
            <p>
              Другие примеры судебной практики, когда исследование принимается
              во внимание судами в целях определения обоснованности заявленных
              расходов на юридические услуги:
            </p>

            <ul class="nobullit">
              <li>
                &mdash; решение Арбитражного суда г. Москвы от 10 февраля 2022
                года по делу №А40- 192663/21-76-1266;
              </li>
              <li>
                &mdash; решение Арбитражного суда Астраханской области от 28
                июля 2022 года по делу №А06-3092/2022;
              </li>
              <li>
                &mdash; определение Арбитражного суда Самарской области от 20
                июля 2022 года по делу № А55-7640/2016;
              </li>
              <li>
                &mdash; определение Арбитражного суда Волгоградской области от
                10 июня 2022 года по делу № А12-21859/2020;
              </li>
              <li>
                &mdash; постановление Девятого арбитражного апелляционного суда
                № 09АП-88793/2021 от 18 января 2022 года по делу №
                А40-102182/20;
              </li>
              <li>
                &mdash; постановление Девятого арбитражного апелляционного суда
                № 09АП-56415/22 от 20 октября 2022 года по делу №
                А40-30060/2020.
              </li>
            </ul>
            <br />
            <p>
              Исследование используется также и в судах общей юрисдикции при
              подтверждении обоснованности судебных расходов.
            </p>
            <p>
              Суды сопоставляют размер заявленных судебных расходов со средней
              стоимостью, указанной в исследовании по соответствующему региону.
            </p>
            <p>
              Так, суд апелляционной инстанции в
              <b>определении Московского городского суда от 04.06.2021</b> года
              по делу № 33-19023/2021 указывает следующее:
            </p>
            <p style="font-family: 'VerdanaItalic'; ">
              <i
                >«…принимая во внимание категорию рассматриваемого гражданского
                дела, объем оказанных представителем услуг, сложность дела,
                время, необходимое на подготовку им процессуальных документов,
                продолжительность рассмотрения дела, а также учитывая, что в
                соответствии с данными исследования Федеральной палаты адвокатов
                Российской Федерации и экспертной группой Veta от 27.04.2020 г.
                о размере стоимости юридических услуг за 2019 г. опубликованного
                в общем доступе на сайте https://veta.expert/projects/research/,
                средняя цена услуг представителя из квалификационной группа «С»,
                к которой относится адвокат фио в суде первой инстанции,
                составляет 79497,сумма., в связи с чем определенная ко взысканию
                сумма в счет погашения расходов на представителя в размере
                (сумма) является разумной и соразмерной».</i
              >
            </p>
            <p>
              Другие примеры использования исследования при разрешении вопроса о
              размере судебных расходов в судах общей юрисдикции:
            </p>
            <ul class="nobullit">
              <li>
                &mdash; определение Московского городского суда от 02.09.2021 по
                делу № 33-35712/2021;
              </li>
              <li>
                &mdash; определение Санкт-Петербургского городского суда от
                09.09.2021 по делу № 33-20904/2021;
              </li>
              <li>
                &mdash; решение Первомайского районного суда г. Ижевска
                Удмуртской Республики от 21 июня 2021 года по делу № 2-2628/21.
              </li>
            </ul>
            <br />
            <p>
              Таким образом, исследования стоимости юридических услуг по
              регионам могут служить ориентиром для определения среднерыночной
              стоимости юридических услуг, оказываемых участниками рынка.
            </p>
          </div>

          <div style="page-break-before: always">&nbsp;</div>
          <img src="{{ static_path }}/images/svidetelstvo.jpg" style="
          color-adjust: exact !important;
          width: 100%;
          border: 1px solid #747A95" />
        </main>
      </div>
    </div>
  </body>
</html>
