<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>pdf</title>
    <link rel="stylesheet" href="{{ static_path }}/css/normalize.css" />
    <link rel="stylesheet" href="{{ static_path }}/css/main.css" />
    <link
      rel="stylesheet"
      href="{{ static_path }}/css/print.css"
      type="text/css"
      media="print"
    />
  </head>
  <body>
    <div class="container pdf">
      <div class="wrapper">
        <header>
          <!-- верхний колонтикул -->
          <div class="top_coloticul">
            <div class="top_coloticul1">
              <div class="col2x">
                <div class="top_colonticul__site">www.veta.expert</div>
                <div class="top_colonticul__phone">+7 800 775-04-99</div>
              </div>
              <div class="top_colonticul__page_number">
                <div
                  class="top_colonticul__page-number-border"
                  id="pageNumber"
                ></div>
              </div>
            </div>
          </div>
          <!--/ верхний колонтикул -->

          <div class="top">
            <div class="top__logo">
              <img src="{{ static_path }}/images/logo.png" />
            </div>
            <div class="top__adress">
              115054, Россия, Москва,
              <br />
              Большой Строченовский, пер, д. 7,
            </div>
            <div class="top__phone">
              +7 495 255–14–99
              <br />
              +7 800 775–04–99
            </div>
            <div class="top__adress1">
              veta@veta.expert
              <br />
              <a href="http://www.veta.expert">www.veta.expert</a>
            </div>
          </div>
        </header>

        <main>
          <div class="intro">
            <p>
              <b>
                {{ result.additional_results.company_name }}
              </b>
            </p>
            <p><b>ИНН:</b> {{ request.inn }}</p>
            <p><b>Вид деятельности:</b> «{{ request.kind_of_activity }}»</p>
            {% if request.revenue %}
              <p><b></b>Выручка по контракту</b>, {{request.revenue}}тыс. руб.</p>
            {% else %}
              <p>
                <b>Период приостановки деятельности/выполнения контракта:</b>  {{ format_date(request.date_start) }}–{{ format_date(request.date_end) }}гг.
              </p>  
            {% endif %}
          </div>

          <h1>Справка о размере упущенной выгоды</h1>
          <p>
            В настоящей справке определен размер упущенной выгоды {{ result.additional_results.company_name }}:
          </p>
          
          <ol>
            <li>
              <p>
                На конец периода {% if request.revenue %}выполнения контракта{% else %}приостановки деятельности{% endif %}
                без учета капитализации.
              </p>
            </li>
            <li>
              <p>
                С момента окончания {% if request.revenue %}выполнения контракта{% else %}приостановки деятельности{% endif %}
                по конкретную дату с учетом капитализации.
              </p>
            </li>
          </ol>
          <p>При расчёте используются в том числе следующие данные:</p>
          <ul>
            <li>
              ретроспективные данные бухгалтерской отчётности за три года до
              выбранного периода для определения размера потенциального дохода;
            </li>
            <li>
              данные по сезонности деятельности в среднем по отрасли при
              определении размера потенциального дохода;
            </li>
            <li>
              доля постоянных и переменных расходов компании в среднем по
              отрасли для определения потенциальных расходов, сопутствующих
              потенциальным доходам.
            </li>
          </ul>

          <h2>
            Расчет размера упущенной выгоды на конец периода
            {% if request.revenue %}выполнения контракта{% else %}приостановки деятельности{% endif %}<br>
            <span style="font-weight:400;">Без учета капитализации</span>
          </h2>

          <p>
            <b>Упущенная выгода без учета капитализации</b> — это упущенная
            выгода от {% if request.revenue %}невыполненного контракта{% else %}приостановки деятельности{% endif %} на дату
            окончания {% if request.revenue %}невыполненного контракта{% else %}приостановления деятельности{% endif %}.
          </p>

          {% if request.revenue %}
          <p>
            Порядок расчета размера упущенной выгоды без учета капитализации (по
            приостановке деятельности) следующий:
          </p>
          <ol>
            <li>
              <p>
                На основе данных бухгалтерской отчетности рассчитывается
                себестоимость продаж за указанный период.
              </p>
            </li>
            <li>
              <p>
                Из полученной величины себестоимости продаж выделяется размер
                постоянных затрат (по отраслевым данным).
              </p>
            </li>
            <li>
              <p>
                По данным бухгалтерской отчетности рассчитывается выручка за
                указанный период.
              </p>
            </li>
            <li>
              <p>
                Рассчитывается размер упущенной выгоды путем сложения выручки и
                постоянных затрат.
              </p>
            </li>
          </ol>
          {% else %}

          
          <p>
            Порядок расчета размера упущенной выгоды без учета капитализации (по
            невыполненному контракту) следующий:
          </p>
          <ol>
            <li><p>Определяется размер недополученной выручки по контракту.</p></li>
            <li>
              <p>
                На основе данных бухгалтерской отчетности рассчитывается валовая
                рентабельность.
              </p>
            </li>
            <li><p>Определяется доля переменных затрат (по отраслевым данным).</p></li>
            <li>
              <p>
                Определяется размер переменных затрат на основе данных о величине
                недополученной выручки по контракту и доле переменных затрат.
              </p>
            </li>
            <li>
              <p>
                Рассчитывается размер упущенной выгоды путем вычитания размера
                переменных затрат из недополученной выручки.
              </p>
          </ol>
          {% endif %}

          <p>
            Ниже представлены вводные показатели, на основе которых был
            произведен расчет размера упущенной выгоды:
          </p>
          <ul>
            <li>
              структура затрат компании с распределением на постоянные и
              переменные затраты в среднем по отрасли;
            </li>
            <li>
              сезонность результатов деятельности компании в среднем по отрасли
              за предыдущие 3 года до начала приостановки
              деятельности/выполнения контракта.
            </li>
          </ul>
          
          <div class="pre_table">
            <span>Таблица 1</span>
            <p>
              Структура затрат {{ result.additional_results.company_name }}
            </p>
          </div>

          <table>
            <thead>
              <tr>
                <th>Вид затрат</th>
                <th>Доля</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Доля переменных затрат</td>
                <td>{{ itr(result.share_of_variable_costs) }}%</td>
              </tr>
              <tr>
                <td>Доля постоянных затрат</td>
                <td>{{ itr(result.share_of_fixed_costs) }}%</td>
              </tr>
            </tbody>
          </table>

          

          <div class="pre_table">
            <span>Таблица 2</span>
            <p>
              Сезонность результатов деятельности {{ result.additional_results.company_name }}
            </p>
          </div>
          <table>
            <thead>
              <tr>
                <th>Период</th>
                {% for period_info in result.additional_results.seasonalities_by_month %}
                  <th>N-{{ result.additional_results.seasonalities_by_month|length - loop.index + 1 }}</th>
                {% endfor%}
              </tr>
            </thead>
            <tbody>
            {% for month_info in result.additional_results.seasonalities_by_month[0].months %}
              <tr>
                {% set outer_loop = loop %}
                <td>{{ int_to_month(month_info.month) }}</td>
                {% for period_info in result.additional_results.seasonalities_by_month %}
                  <td>{{ itr(period_info.months[outer_loop.index-1].percent) }}%</td>
                {% endfor %}
              </tr>
            {% endfor %}
            </tbody>
          </table>
          
          <p>
            Далее представлен итоговый размер упущенной выгоды без учета
            капитализации, рассчитанный по данным компании.
          </p>
          <p>
            Кроме того, дополнительно представлены показатели, характеризующие
            потенциальный результат деятельности за выбранный период, а именно:
          </p>
          <ul>
            <li>валовая прибыль;</li>
            <li>прибыль от продаж;</li>
            <li>чистая прибыль.</li>
          </ul>

          <div class="pre_table">
            <span>Таблица 3</span>
            <p>Размер упущенной выгоды без учета капитализации</p>
          </div>

          <table>
            <thead>
              <tr>
                <th>Вид расчета</th>
                <th>По компании</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Валовая прибыль, тыс. руб.</td>
                <td>{{ itr(result.average_by_company.gross_profit) }}</td>
              </tr>
              <tr>
                <td>Прибыль от продаж, тыс. руб.</td>
                <td>{{ itr(result.average_by_company.sales_profit) }}</td>
              </tr>
              <tr>
                <td>Чистая прибыль, тыс. руб.</td>
                <td>{{ itr(result.average_by_company.net_profit) }}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td>Упущенная выгода, тыс. руб.</td>
                <td>{{ itr(result.lost_income) }}</td>
              </tr>
            </tfoot>
          </table>
          
          <p class="conclusion">          
              Размер упущенной выгоды для компании {{ result.additional_results.company_name }} в
              период с {{ format_date(request.date_start) }} по {{ format_date(request.date_end) }} гг. составляет <b>{{ itr(result.lost_income) }} тыс.
              руб.
            </b>
          </p>

          <!--      -------------------------------------------------------------------------------------    -->
          <h2>
            Расчет размера упущенной выгоды с учетом капитализации на дату
            расчета {{ get_today() }}
          </h2>

          <p>
            <b>Упущенная выгода с учетом капитализации</b> — это приведенная
            стоимость упущенной выгоды на конкретный день с помощью начисления
            процентов.
          </p>
          <p>
            В справке представлены следующие методы расчета приведенной
            стоимости упущенной выгоды:
          </p>
          <ol>
            <li><p>По ключевой ставке Банка России.</p></li>
            <li>
              <p>
                По средневзвешенным процентным ставкам по привлеченным кредитными
                организациями депозитам нефинансовых организаций в рублях (далее —
                «По ставке депозита»).
              </p>
            </li>
            {% if result.borrowed_funds > result.lost_income %}
            <li>
              <p>
                По ставкам по кредитам, предоставленным кредитными организациями
                нефинансовым организациям в рублях (далее — «По кредитной ставке»)
                — если соответствует необходимым условиям согласно методике
                расчета (величина заемных средств компании выше размера упущенной
                выгоды).
              </p>
            </li>
            {% endif%}
            {% if result.vmotp > 0 %}
            <li>
              <p>
                По валовой рентабельности компании (далее — «По рентабельности») —
                если соответствует необходимым условиям согласно методике расчета
                (средний уровень рентабельности компании за последние 3 года —
                положительное значение).
              </p>
            </li>
            {% endif %}
          </ol>


          <p>
            Расчет капитализации по ключевой и кредитной ставке, а также по
            рентабельности компании происходит методом простых процентов.
          </p>
          <p>
            <b>Простой процент</b> — сумма процентов начисляется только на
            первоначальную сумму упущенной выгоды.
          </p>
          <p>
            Расчет капитализации по депозитной ставке происходит методом сложных
            процентов.
          </p>
          <p>
            <b>Сложный процент</b> — сумма процентов начисляется на
            первоначальную сумму вклада с учетом всех накопленных процентов.
          </p>
          <!-- ------------------------------------------------------------------------- -->
          <h3>По ключевой ставке Банка России</h3>
          <p>Основные характеристики расчета:</p>

          <ul>
            <li>метод начисления процентов: простой процент;</li>
            <li>диапазон значений ключевой ставки: {{ get_percent_range(result.additional_results.key_rate_by_months) }};</li>
            <li>сумма капитализации {{ itr(result.key_rate) }} тыс. руб.;</li>
            <li>
              сумма упущенной выгоды с учетом капитализации {{ itr(result.key_rate + result.lost_income) }} тыс. руб.
            </li>
          </ul>
          <!-- --------------------------------------------------------------------------- -->
          <h3>По ставке депозита</h3>
          <p>Основные характеристики расчета:</p>
          <ul>
            <li>метод начисления процентов: сложный процент;</li>
            <li>диапазон значений ставки депозита: {{ get_percent_range(result.additional_results.deposit_rate_by_months) }};</li>
            <li>сумма капитализации: {{ itr(result.deposit_rate) }} тыс. руб.;</li>
            <li>сумма упущенной выгоды с учетом капитализации: {{ itr(result.deposit_rate + result.lost_income) }} тыс. руб.</li>
          </ul>
          <!-- ----------------------------------------------------------------------------- -->
          {% if result.borrowed_funds > result.lost_income %}
          <h3>По кредитной ставке</h3>
          <p>Основные характеристики расчета:</p>
          <ul>
            <li>
              расчет производится только в том случае, если величина заемных
              средств не менее размера упущенной выгоды. Величина заемных
              средств считается как сумма долгосрочных заемных средств и
              краткосрочных заемных средств.
            </li>
            <li>величина заемных средств: {{ itr(result.borrowed_funds) }} тыс. руб.;</li>
            <li>метод начисления процентов: простой процент;</li>
            <li>диапазон значений кредитной ставки: {{ get_percent_range(result.additional_results.credit_rate_by_months) }};</li>
            <li>сумма капитализации: {{ itr(result.credit_rate) }} тыс. руб.;</li>
            <li>сумма упущенной выгоды с учетом капитализации: {{ itr(result.credit_rate + result.lost_income) }} тыс. руб.</li>
          </ul>
          {% endif %}
          <!-- ----------------------------------------------- -->
          {% if result.vmotp > 0 %}
          <h3>По рентабельности компании</h3>
          <p>Основные характеристики расчета:</p>
          <ul>
            <li>
              расчет производится только в том случае, если средняя
              рентабельность компании за 3 года больше 0;
            </li>
            <li>метод начисления процентов: простой процент;</li>
            <li>средняя рентабельность компании за последние 3 года: {{ itr(result.vmotp) }}%;</li>
            <li>сумма капитализации: {{ itr(result.profitability) }} тыс. руб.;</li>
            <li>сумма упущенной выгоды с учетом капитализации: {{ itr(result.profitability + result.lost_income) }} тыс. руб.</li>
          </ul>
          {% endif %}
          <!-- ------------------------------------------------------ -->

          <p class="conclusion">
            
            Размер упущенной выгоды для компании {{ result.additional_results.company_name }}  в
            период с {{ format_date(request.date_start) }} по {{ format_date(request.date_end) }} гг. на дату расчета {{ get_today() }} с учетом
            капитализации составляет:
          </p>

          <ul>
            <li>
              по ключевой ставке Банка России: {{itr(result.key_rate + result.lost_income)}} тыс. руб. ({{itr(result.lost_income)}}
              тыс. руб. величины упущенной выгоды + {{itr(result.key_rate)}} тыс. руб. величины
              капитализации упущенной выгоды);
            </li>
            <li>
              по ставке депозита: {{itr(result.deposit_rate + result.lost_income)}} тыс. руб. ({{itr(result.lost_income)}} тыс. руб. величины упущенной
              выгоды + {{itr(result.deposit_rate)}} тыс. руб. величины капитализации упущенной выгоды);
            </li>
            {% if result.borrowed_funds > result.lost_income %}
            <li>
              по кредитной ставке: {{itr(result.credit_rate + result.lost_income)}} тыс. руб. ({{itr(result.lost_income)}} тыс. руб. величины упущенной
              выгоды + {{itr(result.credit_rate)}} тыс. руб. величины капитализации упущенной выгоды);
            </li>
            {% endif %}
            {% if result.vmotp > 0 %}
            <li>
              по рентабельности: {{itr(result.profitability + result.lost_income)}} тыс. руб. ({{itr(result.lost_income)}} тыс. руб. величины упущенной
              выгоды + {{itr(result.profitability)}} тыс. руб. величины капитализации упущенной выгоды);
            </li>
            {% endif %}
          </ul>

          <p class="conclusion">
            
            Итоговый размер упущенной выгоды {{ result.additional_results.company_name }}
            составляет
            {% if result.borrowed_funds > result.lost_income %}
            <b>{{ itr(result.credit_rate + result.lost_income) }} тыс. руб.</b>, в том числе величина капитализации
            упущенной выгоды в размере <b>{{ itr(result.credit_rate) }} тыс. руб.</b>
            {% else %}
            <b>{{ itr(result.key_rate + result.lost_income) }} тыс. руб.</b>, в том числе величина капитализации
            упущенной выгоды в размере <b>{{ itr(result.key_rate) }} тыс. руб.</b>
            {% endif %}
          </p>
          
          <h2>Справочная информация</h2>
          <p>
            В таблице ниже представлен размер упущенной выгоды за
            {% if request.revenue %}величину выручки по невыполненному контракту
            {% else %}
            аналогичный период приостановки деятельности{% endif %},
            рассчитанный по данным о рентабельности в среднем по
            отрасли «{{ request.kind_of_activity }}».
          </p>
          

          <div class="pre_table">
            <span>Таблица 4</span>
            <p>
              Размер упущенной выгоды без учета капитализации по отраслевым
              данным
            </p>
          </div>

          <table>
            <thead>
              <tr>
                <th>Вид расчета</th>
                <th>По отрасли</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Валовая прибыль, тыс. руб.</td>
                <td>{{ itr(result.average_by_industry.gross_profit) }}</td>
              </tr>
              <tr>
                <td>Прибыль от продаж, тыс. руб.</td>
                <td>{{ itr(result.average_by_industry.sales_profit) }}</td>
              </tr>
              <tr>
                <td>Чистая прибыль, тыс. руб.</td>
                <td>{{ itr(result.average_by_industry.net_profit) }}</td>
              </tr>
            </tbody>
            <!--
            <tfoot>
              <tr>
                <td>Упущенная выгода, тыс. руб.</td>
                <td>15 654,73</td>
              </tr>
            </tfoot>
            -->
          </table>
          
          <p>
            Ниже представлены суммы начисляемой капитализации по каждому из
            методов расчета капитализации в разбивке по месяцам.
          </p>
          

          <div class="pre_table">
            <span>Таблица 5</span>
            <p>Расчет суммы капитализации по ключевой ставке Банка России</p>
          </div>

          <table class="tbl_capitalization">
            <thead>
              <tr>
                <th>Начало периода расчета по ключевой ставке Банка России</th>
                <th>Ставка</th>
                <th>Сумма капитализации по ставке, тыс. руб.</th>
              </tr>
            </thead>
            <tbody>
            {% for rate in result.additional_results.key_rate_by_months %}
              <tr>
                <td>{{ format_date(rate.date_start) }}</td>
                <td>{{ rate.percent }}%</td>
                <td>{{ itr(rate.lost_income) }}</td>
              </tr>
            {% endfor %}
            </tbody>
            <tfoot>
              <tr>
                <td colspan="2">Итоговая сумма капитализации, тыс. руб.</td>
                <td>{{ itr(result.key_rate) }}</td>
              </tr>
            </tfoot>
          </table>
          

          <div class="pre_table">
            <span>Таблица 6</span>
            <p>Расчет суммы капитализации по ставке депозита</p>
          </div>
          <table class="tbl_capitalization">
            <thead>
              <tr>
                <th>Месяц</th>
                <th>Ставка</th>
                <th>Сумма капитализации по ставке, тыс. руб.</th>
              </tr>
            </thead>
            <tbody>
              {% for rate in result.additional_results.deposit_rate_by_months %}
                <tr>
                  <td>{{ format_date_with_month(rate.date_start) }}</td>
                  <td>{{ rate.percent }}%</td>
                  <td>{{ itr(rate.lost_income) }}</td>
                </tr>
              {% endfor %}
            </tbody>
            <tfoot>
              <tr>
                <td colspan="2">Итоговая сумма капитализации, тыс. руб.</td>
                <td>{{ itr(result.deposit_rate) }}</td>
              </tr>
            </tfoot>
          </table>
          

          {% if result.borrowed_funds > result.lost_income %}
          <div class="pre_table">
            <span>Таблица 7</span>
            <p>Расчет суммы капитализации по кредитной ставке</p>
          </div>
          <table class="tbl_capitalization">
            <thead>
              <tr>
                <th>Месяц</th>
                <th>Ставка</th>
                <th>Сумма капитализации по ставке, тыс. руб.</th>
              </tr>
            </thead>
            <tbody>
              {% for rate in result.additional_results.credit_rate_by_months %}
                <tr>
                  <td>{{ format_date_with_month(rate.date_start) }}</td>
                  <td>{{ rate.percent }}%</td>
                  <td>{{ itr(rate.lost_income) }}</td>
                </tr>
              {% endfor %}
            </tbody>
            <tfoot>
              <tr>
                <td colspan="2">Итоговая сумма капитализации, тыс. руб.</td>
                <td>{{ itr(result.credit_rate) }}</td>
              </tr>
            </tfoot>
          </table>
          
          {% endif %}

          {% if result.vmotp > 0 %}
          
          <div class="pre_table">
            <span>Таблица 8</span>
            <p>Расчет суммы капитализации по рентабельности компании</p>
          </div>

          <table>
            <thead>
              <tr>
                <th>Период расчета суммы капитализации</th>
                <th>Ставка</th>
                <th>Сумма капитализации по ставке, тыс. руб.</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{format_date(request.date_end)}} – {{ format_date(get_today()) }}</td>
                <td>{{ result.vmotp *100 }}%</td>
                <td>{{ result.profitability }}</td>
              </tr>
            </tbody>
          </table>
          
          
          
          <div class="pre_table">
            <span>Таблица 9</span>
            <p>Расчет средней рентабельности компании</p>
          </div>
          <table>
            <thead>
              <tr>
                <th>Период</th>
                {% for vmotp_info in result.vmotp_by_years %}
                  <th>N-{{ result.vmotp_by_years|length - loop.index + 1 }}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Валовая рентабельность</td>
                {% for vmotp_info in result.vmotp_by_years %}
                  <td>{{ vmotp_info.vmotp * 100 }}%</td>
                {% endfor %}
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td>Средняя рентабельность</td>
                <td colspan="3">{{ result.vmotp *100 }}%</td>
              </tr>
            </tfoot>
          </table>
          {% endif %}   
        </main>
      </div>
    </div>
  </body>
</html>
