body,
html {
    padding: 0px;
    margin: 0px;
    font-family: 'TT Commons Pro', 'Arial';
}

@media print {

    .wrapper {
        width: 100%;
    }

}

.pdf {

    .wrapper {
        // min-height: 297mm;
        // width: 210mm;
        width: 1312px;
        margin: 0px auto;
        box-sizing: border-box;
        position: relative;

        header {
            color-adjust: exact !important; 
            background: #002B55;
            padding: 60px 125px 104px 125px;

            .top {
                z-index: 20;
                display: flex;
                justify-content: space-between;
                line-height: 160%;
                color: #E1E5EA;
                align-items: flex-end;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 160%;
            }

            .zagolovok {
                margin-top: 96px;
                font-style: normal;
                font-weight: 700;
                font-size: 50px;
                line-height: 120%;
                /* or 60px */
                color: #EBF0F5;
            }
        }

        
main {
    padding: 30px 125px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;

    color: #464E6E;

    h2 {
        font-style: normal;
        font-weight: 700;
        font-size: 35px;
        line-height: 144%;
        /* or 50px */
        color: #002B55;
        padding: 70px 0px 55px 0px;
    }

    h3 {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 144%;
        margin-top: 40px;
        margin-bottom: 34px;
    }

    ul {
        padding-left: 20px;
    }

    ul li {
        list-style-type: none;
        list-style-image: url("../images/bullitred.png");
        padding-left: 20px;
    }

    ul li,
    p {
        line-height: 144%;
        font-size: 24px;
    }
}
        
    }

    
}







