body,
html {
  padding: 0px;
  margin: 0px;
  font-family: "TT Commons Pro", "Arial";
}

@media print {
  .wrapper {
    width: 100%;
  }
}
.pdf .wrapper {
  width: 1312px;
  margin: 0px auto;
  box-sizing: border-box;
  position: relative;
}
.pdf .wrapper header {
  -webkit-print-color-adjust: exact !important;
          color-adjust: exact !important;
  background: #002B55;
  padding: 60px 125px 104px 125px;
}
.pdf .wrapper header .top {
  z-index: 20;
  display: flex;
  justify-content: space-between;
  line-height: 160%;
  color: #E1E5EA;
  align-items: flex-end;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
}
.pdf .wrapper header .zagolovok {
  margin-top: 96px;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 120%;
  /* or 60px */
  color: #EBF0F5;
}
.pdf .wrapper main {
  padding: 30px 125px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #464E6E;
}
.pdf .wrapper main h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 144%;
  /* or 50px */
  color: #002B55;
  padding: 70px 0px 55px 0px;
}
.pdf .wrapper main h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 144%;
  margin-top: 40px;
  margin-bottom: 34px;
}
.pdf .wrapper main ul {
  padding-left: 20px;
}
.pdf .wrapper main ul li {
  list-style-type: none;
  list-style-image: url("../images/bullitred.png");
  padding-left: 20px;
}
.pdf .wrapper main ul li,
.pdf .wrapper main p {
  line-height: 144%;
  font-size: 24px;
}/*# sourceMappingURL=main copy.css.map */