@charset "UTF-8";
@font-face {
  font-family: "ComonsPro";
  font-weight: 400;
  font-style: normal;
  src: local("ComonsPro"), url("../fonts/CommonsPro/WOFF2/TT_Commons_Pro_Regular.woff2") format("woff2"), url("../fonts/CommonsPro/WOFF/TT_Commons_Pro_Regular.woff") format("woff"), url("../fonts/CommonsPro/TrueType/TT Commons Pro Regular.ttf") format("ttf"), url("../fonts/CommonsPro/EOT/TT_Commons_Pro_Regular.eot") format("eot");
}
@font-face {
  font-family: "ComonsPro";
  font-weight: 600;
  font-style: normal;
  src: local("ComonsPro"), url("../fonts/CommonsPro/WOFF2/TT_Commons_Pro_DemiBold.woff2") format("woff2"), url("../fonts/CommonsPro/WOFF/TT_Commons_Pro_DemiBold.woff") format("woff"), url("../fonts/CommonsPro/TrueType/TT_Commons_Pro_DemiBold.ttf") format("ttf"), url("../fonts/CommonsPro/EOT/TT_Commons_Pro_DemiBold.eot") format("eot");
}
@font-face {
  font-family: "ComonsPro";
  font-weight: 700;
  font-style: normal;
  src: local("ComonsPro"), url("../fonts/CommonsPro/WOFF2/TT_Commons_Pro_Bold.woff2") format("woff2"), url("../fonts/CommonsPro/WOFF/TT_Commons_Pro_Bold.woff") format("woff"), url("../fonts/CommonsPro/TrueType/TT_Commons_Pro_Bold.ttf") format("ttf"), url("../fonts/CommonsPro/EOT/TT_Commons_Pro_Bold.eot") format("eot");
}
body,
html {
  padding: 0px;
  margin: 0px;
  font-family: "ComonsPro", sans-serif;
  font-size: 10px;
}

a {
  color: #306fab;
}

.pdf .wrapper {
  margin: 0px auto;
  box-sizing: border-box;
  padding: 71px 116px 71px 176px;
}
.pdf .wrapper header {
  -webkit-print-color-adjust: exact !important;
          color-adjust: exact !important;
}
.pdf .wrapper header .top_coloticul {
  display: flex;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
  font-size: 150%;
  line-height: 160%;
  color: #747A95;
  justify-content: space-between;
  letter-spacing: 0.21px;
}
.pdf .wrapper header .top_coloticul .col2x {
  display: flex;
}
.pdf .wrapper header .top_coloticul .top_colonticul__phone {
  margin-left: 44px;
  letter-spacing: -0.23px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
}
.pdf .wrapper header .top_coloticul .top_colonticul__page_number {
  border: 1px solid #747A95;
  border-radius: 10px;
  width: 58px;
  height: 20px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
}
.pdf .wrapper header .pre-plaska {
  display: flex;
  justify-content: space-between;
  height: 5px;
  margin-top: 4px;
}
.pdf .wrapper header .pre-plaska .smark {
  height: 5px;
  width: 190px;
  border-right: 1px solid #747A95;
}
.pdf .wrapper header .pre-plaska .smark1 {
  height: 5px;
  width: 203px;
  border-left: 1px solid #747A95;
}
.pdf .wrapper header .plaska {
  border-top: 1px solid #747A95;
  border-left: 1px solid #747A95;
  border-right: 1px solid #747A95;
  width: 99.4%;
  /*уточнить у дизайнера*/
  height: 13px;
}
.pdf .wrapper header .top {
  margin-top: 34px;
  display: flex;
  justify-content: space-between;
  line-height: 160%;
  font-style: normal;
  font-weight: 400;
  font-size: 160%;
}
.pdf .wrapper header .top__logo img {
  margin-left: 42px;
  width: 183px;
}
.pdf .wrapper header .top__adress {
  margin-left: -40px;
  margin-top: 15px;
  font-family: "ComonsPro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 230%;
  /* identical to box height, or 26px */
  color: #002B55;
}
.pdf .wrapper header .top__phone {
  font-family: "ComonsPro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin-top: 15px;
  line-height: 230%;
  margin-left: -30px;
  /* identical to box height, or 26px */
  color: #002B55;
}
.pdf .wrapper header .top__adress1 {
  font-family: "ComonsPro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin-top: 15px;
  line-height: 230%;
  /* identical to box height, or 26px */
  color: #002B55;
  margin-right: 30px;
  text-align: right;
}
.pdf .wrapper header .top__adress1 a {
  text-decoration: none;
  color: #002B55;
}
.pdf .wrapper header .row1 {
  margin-top: 50px;
  font-size: 180%;
  text-align: right;
  display: flex;
  justify-content: space-between;
}
.pdf .wrapper header .row1__delo {
  margin-left: 5px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 160%;
  /* identical to box height, or 34px */
  color: #3B3838;
}
.pdf .wrapper header .row1__name {
  margin-right: 4px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 150%;
  /* identical to box height, or 34px */
  color: #3B3838;
}
.pdf .wrapper main {
  font-style: normal;
  font-weight: 400;
  font-size: 240%;
  color: #000;
}
.pdf .wrapper main h1 {
  font-family: Verdana;
  /*тут вердана про*/
  margin-top: 33px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  font-size: 23px;
  line-height: 140%;
  /* identical to box height, or 37px */
  text-transform: uppercase;
  color: #002B55;
  margin-bottom: 30px;
}
.pdf .wrapper main h2 {
  margin-top: 45px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 155.5%;
  padding-top: 0px;
  /* or 34px */
  text-align: center;
  color: #000000;
}
.pdf .wrapper main h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 100%;
  line-height: 144%;
  margin-top: 40px;
  margin-bottom: 34px;
}
.pdf .wrapper main ul {
  padding-left: 107px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.pdf .wrapper main ul li {
  list-style-type: none;
  background: url("../images/bulit-blue.jpg") no-repeat left 10px;
  padding-left: 40px;
  font-size: 100%;
  padding-bottom: 9px;
}
.pdf .wrapper main ul li ul {
  padding-left: 2px;
  margin-top: 7px;
  margin-bottom: 0px;
}
.pdf .wrapper main .nobullit {
  padding-left: 20px;
  font-size: 13px;
}
.pdf .wrapper main .nobullit li {
  background: none;
  font-weight: 600;
  font-style: italic;
  font-size: 13px;
}
.pdf .wrapper main p {
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 149%;
  /* or 33px */
  text-align: justify;
  color: #000000;
  margin-top: 0px;
  margin-bottom: 15px;
}
.pdf .wrapper .footer {
  text-align: left;
  font-family: "VerdanaProLight";
}
.pdf .wrapper .footer .line {
  border-top: 1px solid #747A95;
  width: 300px;
  margin-bottom: 10px;
  margin-top: 20px;
}
.pdf .wrapper .prilojenie p {
  text-indent: 50px;
  font-size: 12px;
}
.pdf .wrapper .footer p {
  font-size: 13px;
}/*# sourceMappingURL=main.css.map */