@font-face {
  font-family: "VerdanaProLight";
  font-weight: 600;
  font-style: italic;
  src: local("Verdana Bold Italic"), url("../fonts/VerdanaPro-Light.woff2") format("woff2");
}
@font-face {
  font-family: "VerdanaBoldItalic";
  font-weight: 600;
  font-style: italic;
  src: local("Verdana Bold Italic"), url("../fonts/Verdana/Verdana-BoldItalic.eot") format("eot"), url("../fonts/Verdana/Verdana-BoldItalic.ttf") format("ttf"), url("../fonts/Verdana/Verdana-BoldItalic.woff") format("woff");
}
@font-face {
  font-family: "VerdanaItalic";
  font-weight: 400;
  font-style: italic;
  src: local("Verdana Italic"), url("../fonts/Verdana/Verdana-Italic.eot") format("eot"), url("../fonts/Verdana/Verdana-Italic.ttf") format("ttf"), url("../fonts/Verdana/Verdana-Italic.woff") format("woff");
}
@font-face {
  font-family: "ComonsPro";
  font-weight: 400;
  font-style: normal;
  src: local("ComonsPro"), url("../fonts/CommonsPro/WOFF2/TT_Commons_Pro_Regular.woff2") format("woff2"), url("../fonts/CommonsPro/WOFF/TT_Commons_Pro_Regular.woff") format("woff"), url("../fonts/CommonsPro/TrueType/TT Commons Pro Regular.ttf") format("ttf"), url("../fonts/CommonsPro/EOT/TT_Commons_Pro_Regular.eot") format("eot");
}
@font-face {
  font-family: "ComonsPro";
  font-weight: 600;
  font-style: normal;
  src: local("ComonsPro"), url("../fonts/CommonsPro/WOFF2/TT_Commons_Pro_DemiBold.woff2") format("woff2"), url("../fonts/CommonsPro/WOFF/TT_Commons_Pro_DemiBold.woff") format("woff"), url("../fonts/CommonsPro/TrueType/TT_Commons_Pro_DemiBold.ttf") format("ttf"), url("../fonts/CommonsPro/EOT/TT_Commons_Pro_DemiBold.eot") format("eot");
}
@font-face {
  font-family: "ComonsPro";
  font-weight: 700;
  font-style: normal;
  src: local("ComonsPro"), url("../fonts/CommonsPro/WOFF2/TT_Commons_Pro_Bold.woff2") format("woff2"), url("../fonts/CommonsPro/WOFF/TT_Commons_Pro_Bold.woff") format("woff"), url("../fonts/CommonsPro/TrueType/TT_Commons_Pro_Bold.ttf") format("ttf"), url("../fonts/CommonsPro/EOT/TT_Commons_Pro_Bold.eot") format("eot");
}
body,
html {
  padding: 0px;
  margin: 0px;
  font-family: "Verdana", Arial, sans-serif;
  font-size: 10px;
}

.pdf .wrapper {
  margin: 0px auto;
  box-sizing: border-box;
  padding: 10mm 20mm 10mm 30mm;
}
.pdf .wrapper header {
  -webkit-print-color-adjust: exact !important;
          color-adjust: exact !important;
}
.pdf .wrapper header .top_coloticul {
  display: block;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  color: #747A95;
  margin-left: 30mm;
  margin-right: 20mm;
  width: 610px;
  letter-spacing: 0.21px;
  font-size: 11px;
  font-family: "ComonsPro", sans-serif;
}
.pdf .wrapper header .top_coloticul .top_coloticul1 {
  display: flex;
  justify-content: space-between;
}
.pdf .wrapper header .top_coloticul .col2x {
  display: flex;
  width: 50%;
  font-size: 11px;
}
.pdf .wrapper header .top_coloticul .top_colonticul__phone {
  margin-left: 27px;
  font-size: 11px;
}
.pdf .wrapper header .top_coloticul .top_colonticul__page_number {
  border: 1px solid #747A95;
  border-radius: 10px;
  width: 48px;
  height: 15px;
  text-align: center;
  font-size: 10px;
  line-height: 15px;
}
.pdf .wrapper header .pre-plaska {
  display: flex;
  justify-content: space-between;
  height: 5px;
  margin-top: 4px;
}
.pdf .wrapper header .pre-plaska .smark {
  height: 5px;
  width: 120px;
  border-right: 1px solid #747A95;
}
.pdf .wrapper header .pre-plaska .smark1 {
  height: 5px;
  width: 150px;
  border-left: 1px solid #747A95;
}
.pdf .wrapper header .plaska {
  border-top: 1px solid #747A95;
  border-left: 1px solid #747A95;
  border-right: 1px solid #747A95;
  width: 100%;
  height: 13px;
}
.pdf .wrapper header .top {
  margin-top: -70px;
  display: flex;
  justify-content: space-between;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  font-style: normal;
  color: #002B55;
  font-family: "ComonsPro";
}
.pdf .wrapper header .top__logo img {
  margin-left: 30px;
  width: 125px;
  color: #002B55;
}
.pdf .wrapper header .top__adress {
  font-size: 11px;
  margin-left: 20px;
  color: #002B55;
}
.pdf .wrapper header .top__phone {
  font-size: 11px;
  margin-left: 25px;
  color: #002B55;
}
.pdf .wrapper header .top__adress1 {
  font-size: 11px;
  margin-left: 25px;
  margin-right: 20px;
  text-align: right;
  color: #002B55;
}
.pdf .wrapper header .top__adress1 a {
  text-decoration: none;
  color: #002B55;
}
.pdf .wrapper header .row1 {
  margin-top: 35px;
  text-align: right;
  display: flex;
  justify-content: space-between;
}
.pdf .wrapper header .row1__delo {
  margin-left: 5px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  font-size: 14px;
  color: #3B3838;
}
.pdf .wrapper header .row1__name {
  margin-right: 4px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  font-size: 14px;
  color: #3B3838;
}
.pdf .wrapper main {
  font-style: normal;
  font-weight: 400;
  color: #000;
}
.pdf .wrapper main h1 {
  font-family: "Verdana";
  margin-top: 43px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  line-height: 140%;
  text-transform: uppercase;
  color: #002B55;
  margin-bottom: 24px;
  font-size: 16px;
}
.pdf .wrapper main h1 span {
  font-size: 10px;
  font-weight: 400;
}
.pdf .wrapper main h2 {
  margin-top: 45px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 700;
  line-height: 155.5%;
  padding-top: 0px;
  text-align: center;
  color: #000000;
  font-size: 16px;
}
.pdf .wrapper main h3 {
  font-style: normal;
  font-weight: 700;
  line-height: 144%;
  margin-top: 40px;
  margin-bottom: 34px;
  font-size: 14px;
}
.pdf .wrapper main ul {
  padding-left: 70px;
  margin-top: 0px;
  margin-bottom: 10px;
}
.pdf .wrapper main ul li {
  list-style-type: none;
  background: url("../images/bulit-blue.jpg") no-repeat left 5px;
  padding-left: 30px;
  padding-bottom: 9px;
  font-size: 14px;
  line-height: 144%;
}
.pdf .wrapper main ul li ul {
  padding-left: 2px;
  margin-top: 11px;
  margin-bottom: 0px;
}
.pdf .wrapper main p {
  font-family: "Verdana";
  font-weight: 400;
  line-height: 149%;
  text-align: justify;
  color: #000000;
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 14px;
}
.pdf .wrapper main .nobullit {
  padding-left: 0px;
  margin-left: 0px;
  font-size: 13px;
  margin-bottom: 0px;
}
.pdf .wrapper main .nobullit li {
  font-family: "VerdanaBoldItalic";
  background: none;
  font-weight: bold;
  font-style: italic;
  font-size: 13px;
  text-indent: 50px;
  padding-left: 0px;
  margin-left: 0px;
}
.pdf .wrapper main .pcalc-title {
  margin-top: 40px;
  margin-bottom: 15px;
  font-weight: bold;
  text-align: center;
  font-size: 14px;
  color: #000;
}
.pdf .wrapper main .pcalc-box ul {
  margin-bottom: 20px;
}
.pdf .wrapper main .prilojenie-start {
  text-align: right;
  margin-top: -15px;
  padding-top: 0px;
}
.pdf .footer {
  text-align: left;
  font-size: 12px;
  position: running(footer);
  margin-left: 30mm;
  margin-right: 20mm;
  width: 600px;
  font-family: "VerdanaProLight";
}
.pdf .top_coloticul {
  display: block;
  text-align: left;
  height: 50px;
  position: running(top_coloticul);
  width: 210mm;
}
.pdf .footer .line {
  border-top: 1px solid #747A95;
  -webkit-print-color-adjust: exact !important;
          color-adjust: exact !important;
  width: 300px;
  margin-top: 10px;
  padding: 0px;
  height: 20px;
}

.prilojenie p {
  text-indent: 50px;
  font-size: 13px;
}

#pageNumber:after {
  counter-increment: page;
  content: counter(page);
}

@page {
  margin: 0px;
  margin-top: 35mm;
  margin-bottom: 10mm;
  @top-center {
    content: element(top_coloticul);
  }
}
@page : first {
  margin-bottom: 60mm;
  @bottom-center {
    content: element(footer);
  }
}/*# sourceMappingURL=print.css.map */